asgiref==3.4.1
autopep8==1.5.7
dj-database-url==0.5.0
Django==3.2.6
gunicorn==20.1.0
pycodestyle==2.7.0
python-decouple==3.4
pytz==2021.1
sqlparse==0.4.2
toml==0.10.2
Unipath==1.1
whitenoise==5.3.0
pandas==1.4.0
numpy==1.21.2
scikit-learn==1.24.2
responsibleai==0.25.0
raiwidgets==0.25.0
fairlearn==0.8.0
mlflow==2.2.2
google==3.0.0
