{% extends 'layouts/base.html' %} {% block title %} Data Cleaning {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    .container {
        width: 600px;
        /* height:150px; */
        margin: auto;
    }
    .progressbar {
        counter-reset: step;
        width: 100%;
    }
    .progressbar li {
        list-style-type: none;
        width: 20%;
        float: left;
        font-size: 12px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #7d7d7d;
    }
    .progressbar li:before {
        width: 30px;
        height: 30px;
        content: counter(step);
        counter-increment: step;
        line-height: 30px;
        border: 2px solid #7d7d7d;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
    }
    .progressbar li:after {
        width: 100%;
        height: 2px;
        content: "";
        position: absolute;
        background-color: #7d7d7d;
        top: 15px;
        left: -50%;
        z-index: -1;
    }
    .progressbar li:first-child:after {
        content: none;
    }
    .progressbar li.active {
        color: green;
    }
    .progressbar li.active:before {
        border-color: #55b776;
    }
    .progressbar li.active + li:after {
        background-color: #55b776;
    }
    table{
   overflow-y:scroll;
   height:500px;
   display:inline-block;
}
</style>
{% endblock stylesheets %} {% block content %}

<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4" style="width: max-content">
        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
            <li class="breadcrumb-item">
                <a href="/"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="/create/">AI Project</a></li>
            <li class="breadcrumb-item"><a href="#">{{ projectName }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Transform Data</li>
        </ol>
    </nav>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                

                <div class="m-5" id="transformerGroup">
                    {% comment %} start {% endcomment %}
                    <!-- START UPLOAD DATA -->
                    <div class="card-header">
                        <h2 class="mb-0">Input Data</h2>
                    </div>
                    <form id="modelUpload" enctype="multipart/form-data" method="post"> {% csrf_token %}
                        <h3 class="mb-0">Model file</h3>
                        <input type="file" id="modUpload" />
                        <input type="submit" value="Upload" id="mUpload" />
                    </form>

                    <form id="datasetUpload" enctype="multipart/form-data" method="post"> {% csrf_token %}
                        <h3 class="mb-0">Data</h3>
                        <input type="file" id="fileUpload" />
                        <input type="submit" value="Upload" id="dataUpload" />
                    </form>
                    <!-- END UPLOAD DATA -->
                    <div class="card" id="dvCSV"></div>          

                    <div class="card">
                        <div class="card-header">
                            <h2 class="mb-0">Create error analysis dashboard</h2>
                        </div>

                        <div class="card-body">
                            <p class="card-text mb-2">
                                Error analysis helps identify cohorts of data with higher error rate than the overall benchmark. 
                                These discrepancies might occur when the system or model underperforms for specific demographic groups or infrequently observed input conditions in the training data.
                            </p>
                        </div>
                        <button
                            class="btn btn-sm btn-secondary"
                            id="applyBtn"
                        >
                            Apply
                        </button>
                        <div id="end-page"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script>
    document.getElementById('applyBtn').onclick = function() {

    var iframe = document.createElement('iframe');
    iframe.width = "1100";
    iframe.height = "960";
    iframe.src = 'http://localhost:5001/';
    body = document.getElementById("end-page");
    body.appendChild(iframe);
};
</script>


<script>
    const uploadBtn = document.getElementById("uploadBtn")
    uploadBtn.addEventListener('click', () => {
        console.log("Pene")
        const file = document.getElementById("file")
        console.log(file.files[0].name)
    })
</script>

<script>
    const applyBtn = document.getElementById("applyBtn")
    uploadBtn.addEventListener('click', () => {
        console.log("Pene")
        const file = document.getElementById("file")
        console.log(file.files[0].name)
    })
</script>

<script src="/static/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>


<script type="text/javascript">
    let fileName='';
    let modelName='';
    let Columns=[];
    $(function () 
    {
        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        //Upload pkl file to backend
        $("#mUpload").bind("click", function () 
        {
            var regex = /^([a-zA-Z0-9\s_\\.\-:\(\)])+(.pkl)$/;
            if (regex.test($("#modUpload").val().toLowerCase())) 
            {
                if (typeof (FileReader) != "undefined") 
                {
                    var reader = new FileReader();
                    reader.readAsText($("#modUpload")[0].files[0]);
                    modelName=$("#modUpload")[0].files[0].name;
                    //const blob = new Blob([$("#fileUpload")[0].files[0]], { type: 'text/csv' });
                } 
                else 
                {
                    alert("This browser does not support HTML5.");
                }
            } 
            else 
            {
                alert("Please upload a valid PKL file.");
            }
        });

        $("#modelUpload").submit(function (event) 
        {
            var fd = new FormData();
            fd.append('csrfmiddlewaretoken',csrftoken);
            fd.append('fileUpload', $("#modUpload")[0].files[0]);
            $.ajax({
            type: "POST",
            url: "upload",
            data: fd,
            contentType: false,
            processData: false,
            enctype: 'multipart/form-data'
            }).done(function (data) {
            console.log(fd);
            });
            event.preventDefault();
        });

        //Upload dataset to backend
        $("#dataUpload").bind("click", function () 
        {
            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
            if (regex.test($("#fileUpload").val().toLowerCase())) 
            {
                if (typeof (FileReader) != "undefined") 
                {
                    var reader = new FileReader();
                    reader.onload = function (e) 
                    {
                        var table = $("<table class='dataframe table table-striped table-bordered dataTable no-footer'>");
                        var rows = e.target.result.split("\r\n"); //Might need to update this since linebreaks can be \r\n;
                        for (var i = 0; i < rows.length; i++) 
                        {
                            var row = $("<tr />");
                            var cells = rows[i].split(",");
                            if (cells.length > 1) {
                                for (var j = 0; j < cells.length; j++) 
                                {
                                    var cell = $("<td />");
                                    cell.html(cells[j]);
                                    if(i==0) //Grabs the variable names;
                                        Columns.push(cells[j]);
                                    row.append(cell);
                                }
                                table.append(row);
                            }
                        }
                        $("#dvCSV").html('');
                        $("#dvCSV").append(table);
                    }
                    reader.readAsText($("#fileUpload")[0].files[0]);
                    fileName=$("#fileUpload")[0].files[0].name;
                    //const blob = new Blob([$("#fileUpload")[0].files[0]], { type: 'text/csv' });
                    
                } 
                else 
                {
                    alert("This browser does not support HTML5.");
                }
            } 
            else 
            {
                alert("Please upload a valid CSV file.");
            }
        });
        //Show dataset on upload.

        $("#datasetUpload").submit(function (event) 
        {
            var fd = new FormData();
            fd.append('csrfmiddlewaretoken',csrftoken);
            fd.append('fileUpload', $("#fileUpload")[0].files[0]);
            $.ajax({
            type: "POST",
            url: "upload",
            data: fd,
            contentType: false,
            processData: false,
            enctype: 'multipart/form-data'
            }).done(function (data) {
            console.log(fd);
            });
            event.preventDefault();
        });
    });

</script>
{% endblock javascripts %}