<!DOCTYPE html>
<html lang="en">

<head>
<style>
table  { margin-top:  20px; display: inline-block; overflow: auto; }
th div { margin-top: -20px; position: absolute; }
</style>

</head>

<body>
  
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () 
    {
        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        $("#upload").bind("click", function () 
        {
            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
            if (regex.test($("#fileUpload").val().toLowerCase())) 
            {
                if (typeof (FileReader) != "undefined") 
                {
                    var reader = new FileReader();
                    reader.onload = function (e) 
                    {
                        var table = $("<table style='height: 150px'/>");
                        var rows = e.target.result.split("\n");
                        for (var i = 0; i < rows.length; i++) 
                        {
                            var row = $("<tr />");
                            var cells = rows[i].split(",");
                            if (cells.length > 1) {
                                for (var j = 0; j < cells.length; j++) 
                                {
                                    var cell = $("<td />");
                                    cell.html(cells[j]);
                                    row.append(cell);
                                }
                                table.append(row);
                            }
                        }
                        $("#dvCSV").html('');
                        $("#dvCSV").append(table);
                    }
                    reader.readAsText($("#fileUpload")[0].files[0]);
                    const blob = new Blob([$("#fileUpload")[0].files[0]], { type: 'text/csv' });
                    
                } 
                else 
                {
                    alert("This browser does not support HTML5.");
                }
            } 
            else 
            {
                alert("Please upload a valid CSV file.");
            }
        });
        $("form").submit(function (event) 
        {
            
            var fd = new FormData();
            fd.append('csrfmiddlewaretoken',csrftoken);
            fd.append('fileUpload', $("#fileUpload")[0].files[0]);
            $.ajax({
            type: "POST",
            url: "upload",
            data: fd,
            contentType: false,
            processData: false,
            enctype: 'multipart/form-data'
            }).done(function (data) {
            console.log(fd);
            });

            event.preventDefault();
        });
    });

    
    
    
</script>
<form enctype="multipart/form-data" method="post"> {% csrf_token %}
    <input type="file" id="fileUpload" />
    <input type="submit" value="Upload" id="upload" />
</form>

<hr />
<div id="dvCSV">
</div>

</body>

</html>

