<!DOCTYPE html>
<html lang="en">
<!-- An idea for later:Make form inputs into readonly and select options into disable after some form submissions -->
<!--Do this so the user can look back at previous steps (such as creating a project) without giving them the ability to change certain things-->
<head>
<style>
table  { margin-top:  20px; display: inline-block; overflow: auto; height: 150px;}
th div { margin-top: -20px; position: absolute; }
.features 
{
    visibility: hidden
}
</style>

</head>

<body>
  
<form id="datasetUpload" enctype="multipart/form-data" method="post"> {% csrf_token %}
    <input type="file" id="fileUpload" />
    <input type="submit" value="Upload" id="upload" />
</form>


<!-- Bind into showing a form for each button -->
<div id="dvCSV">
</div>

<!-- Bind into showing a form for each button -->
<div id="Transformations">
<button id=MeanMedianImpute>Missing Value Impute</button> <!-- Bind into showing a form for each button -->

<!-- The Forms for each feature, they're named featureX to make it hopefully easier for jquery -->
<form id="Impute" class="features" enctype="multipart/form-data" method="post"> {% csrf_token %}
    Select Which Feature to Impute:
    <select name="feature1" id="feature1">
        <option value="All" selected>All</option>
    </select>
    Are zeroes in the selected columns missing values in your dataset(Should we impute zeroes?)
    <select name="imputeZero" id="imputeZero">
        <option value="No" selected>No</option>
        <option value="Yes">Yes</option>
    </select>
    Pick Imputation Method:
    <select name="imputeMethod" id="imputeMethod">
            <option value="Median">Median</option>
            <option value="Mean">Mean</option>
    </select>
    <input type="submit" value="Upload"  />

</form>

<button id="removeFeature">Feature Remover</button> <!-- Bind into showing a form for each button -->
<form id="DropFeature" class="features" enctype="multipart/form-data" method="post"> {% csrf_token %}
    Select Which feature to drop:
    <select name="feature2" id="feature2">
        
    </select>
    <input type="submit" value="Upload" />
</form>


</div>

<div id="DataAnalysisReport">
</div>

<!-- Maybe will be used to select what parameter we want to predict -->
<div id="SelectParameters">

</div>
<!-- Report results -->
<div id="ResultReport">

</div>

</body>


<!--Put scripts here for ordering sake.-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    let fileName='';
    let Columns=[];
    const featuresImplemented=2;
    $(function () 
    {
        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        //Upload dataset to backend
        $("#upload").bind("click", function () 
        {
            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
            if (regex.test($("#fileUpload").val().toLowerCase())) 
            {
                if (typeof (FileReader) != "undefined") 
                {
                    var reader = new FileReader();
                    reader.onload = function (e) 
                    {
                        var table = $("<table border='1'>");
                        var rows = e.target.result.split("\r\n"); //Might need to update this since linebreaks can be \r\n;
                        for (var i = 0; i < rows.length; i++) 
                        {
                            var row = $("<tr />");
                            var cells = rows[i].split(",");
                            if (cells.length > 1) {
                                for (var j = 0; j < cells.length; j++) 
                                {
                                    var cell = $("<td />");
                                    cell.html(cells[j]);
                                    if(i==0) //Grabs the variable names;
                                        Columns.push(cells[j]);
                                    row.append(cell);
                                }
                                table.append(row);
                            }
                        }
                        $("#dvCSV").html('');
                        $("#dvCSV").append(table);
                        for(let i=1;i<=featuresImplemented;i++) //Currently have 2 features implemented.
                        {
                            var select = document.getElementById("feature"+i);
                            
                            for(index in Columns) 
                            {
                
                                select.options[select.options.length] = new Option(Columns[index], Columns[index]);
                            }
                 
                        }
                    }
                    reader.readAsText($("#fileUpload")[0].files[0]);
                    fileName=$("#fileUpload")[0].files[0].name;
                    //const blob = new Blob([$("#fileUpload")[0].files[0]], { type: 'text/csv' });
                    
                } 
                else 
                {
                    alert("This browser does not support HTML5.");
                }
            } 
            else 
            {
                alert("Please upload a valid CSV file.");
            }
        });
        //Show dataset on upload.
        $("#datasetUpload").submit(function (event) 
        {
            
            var fd = new FormData();
            fd.append('csrfmiddlewaretoken',csrftoken);
            fd.append('fileUpload', $("#fileUpload")[0].files[0]);
            $.ajax({
            type: "POST",
            url: "upload",
            data: fd,
            contentType: false,
            processData: false,
            enctype: 'multipart/form-data'
            }).done(function (data) {
            console.log(fd);
            });

            event.preventDefault();
        });
        $("#Impute").submit(function(event)
        {
            var fd = new FormData(document.querySelector('#Impute'))
            fd.append('fileName',fileName);
            console.log(fd);

            //console.log(document.querySelector('#Impute'))
            $.ajax({
            type: "POST",
            url: "impute",
            data: fd,
            contentType: false,
            processData: false,
            enctype: 'multipart/form-data'
            }).done(function (data) {
                $("#dvCSV").html('');
                $("#dvCSV").append(data);
                $('#Impute').css("visibility", "hidden")
            }); 
            event.preventDefault();
        });

        $("#DropFeature").submit(function(event)
        {
            var fd = new FormData(document.querySelector('#DropFeature'))
            fd.append('fileName',fileName);
            console.log(fd);
            for(i=1;i<=featuresImplemented;i++)
            {
                $('#feature'+i+' option[value=\''+fd.get("feature2")+'\'] ').remove();
            }
            event.preventDefault();
            //console.log(document.querySelector('#Impute'))

            $.ajax({
            type: "POST",
            url: "dropFeature", //code this later.
            data: fd,
            contentType: false,
            processData: false,
            enctype: 'multipart/form-data'
            }).done(function (data) {
                $("#dvCSV").html('');
                $("#dvCSV").append(data);
                $('#DropFeature').css("visibility", "hidden") //Need to remove the removed feature from all selectors.
            }); 
            event.preventDefault();

        });

        //Apply transmations:
        $("#MeanMedianImpute").click(function()
        {
            if ( $('#Impute').css('visibility') == 'hidden' )
                $('#Impute').css('visibility','visible');
            else
                $('#Impute').css('visibility','hidden');
        });

        $("#removeFeature").click(function()
        {
            if ( $('#DropFeature').css('visibility') == 'hidden' )
                $('#DropFeature').css('visibility','visible');
            else
                $('#DropFeature').css('visibility','hidden');
        });

    });

</script>
</html>

